<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mm.virginactive.webservices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <mm.virginactive.webservices.Properties.Settings>
            <setting name="mm_virginactive_webservices_virginactive_classtimetable_Service"
                serializeAs="String">
                <value>http://www.vatest.co.uk/bvaclasstimetable/service.asmx</value>
            </setting>
            <setting name="mm_virginactive_webservices_virginactive_FeedbackEnquiry_MM_WebServices"
                serializeAs="String">
                <value>http://www.virginactive.co.uk/bVirginTVTimetables/MM_Webservices.asmx</value>
            </setting>
            <setting name="mm_virginactive_webservices_WEBSRV_Messaging_Messaging"
                serializeAs="String">
                <value>http://mcmr-reelancer1/WEBSRV_Messaging/Messaging.asmx</value>
            </setting>
            <setting name="mm_virginactive_webservices_virginactive_reciprocalaccess_RecipAccess"
                serializeAs="String">
                <value>http://www.virginactive.co.uk/Multi-Club-Access/RecipAccess.asmx</value>
            </setting>
        </mm.virginactive.webservices.Properties.Settings>
    </applicationSettings>
    <system.web>
      <!--The following code sets the ASP.NET limit on the maximum size of an incoming request to 40MB and the maximum amount of time a request is allowed to execute to 1 minute (1 minute). -->
      <httpRuntime maxRequestLength="40960" executionTimeout="60" />
    </system.web>
    <!--The following code disables the limit on the maximum size of SOAP messages by WS -->
    <!--<microsoft.web.services3>
      <messaging>
        <maxMessageLength value="-1" />
      </messaging>
    </microsoft.web.services3>-->
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <!--The following code sets memory allocated for each message using the BasicHttpBinding to 196608 bytes. N.B. Default is 65,536 bytes-->
          <binding name="Binding1" maxReceivedMessageSize="196608">
          </binding>
        </basicHttpBinding>
      </bindings>
      <!--<client>
        <endpoint name="WcfDataPortal" address="http://localhost/G2DotNetDataPortal/WcfPortal.svc" binding="wsHttpBinding" contract="Csla.Server.Hosts.IWcfPortal" bindingConfiguration="wsHttpBindingSettings" />
      </client>-->
  </system.serviceModel>
</configuration>