/** Virgin Active Maintenance Holding Page **/

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* #Font-face
================================================== */
@font-face {
  font-family: 'HelveticaNeueW01-77BdCn 692722';
  src: url('../fonts/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?iefix') format('eot');
}
@font-face {
  font-family: 'HelveticaNeueW01-77BdCn 692722';
  src: url('../fonts/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?iefix');
  src: url('../fonts/102ab74c-0e84-4fe5-a17a-b20fb643591a.woff') format('woff'), url('../fonts/1d146b29-55e2-485b-96aa-5cb628e7e9eb.ttf') format('truetype'), url('../fonts/d90b3358-e1e2-4abb-ba96-356983a54c22.svg#d90b3358-e1e2-4abb-ba96-356983a54c22') format('svg');
}
@font-face {
  font-family: 'HelveticaNeueW01-LtExt';
  src: url('../fonts/5ba464d0-2dd1-4258-b905-fbc064b62880.eot?iefix') format('eot');
}
@font-face {
  font-family: 'HelveticaNeueW01-LtExt';
  src: url('../fonts/5ba464d0-2dd1-4258-b905-fbc064b62880.eot?iefix');
  src: url('../fonts/ce0ead1e-4eb1-4535-898a-b801a2313639.woff') format('woff'), url('../fonts/5b9a6f8c-0b7e-4c58-914d-e7bdfa970620.ttf') format('truetype'), url('../fonts/73d71c74-a57d-44af-96cf-031046271dab.svg#73d71c74-a57d-44af-96cf-031046271dab') format('svg');
}
@font-face {
  font-family: 'HelveticaNeueW01-BdExt';
  src: url('../fonts/7d6c3b9e-86b7-44dd-9e46-8ab30da85834.eot?iefix') format('eot');
}
@font-face {
  font-family: 'HelveticaNeueW01-BdExt';
  src: url('../fonts/7d6c3b9e-86b7-44dd-9e46-8ab30da85834.eot?iefix');
  src: url('../fonts/a0cf2f5e-c70c-45a8-a420-4143b3afb187.woff') format('woff'), url('../fonts/c7acfb18-afc1-4a67-a281-baa1130b7baa.ttf') format('truetype'), url('../fonts/3799441c-73d4-4e5f-8a55-456233b45f0e.svg#3799441c-73d4-4e5f-8a55-456233b45f0e') format('svg');
}

/* #Basic Styles
================================================== */
h1 { font: 3.25em "HelveticaNeueW01-BdExt", Helvetica, Arial, sans-serif; }
h2 { padding: 11px 0 10px; color: #333; font: 1.667em "HelveticaNeueW01-BdExt", Helvetica, Arial, sans-serif; line-height: 1.3em; }
p { font-size: 1.167em; padding-bottom: 10px; color: #333; line-height: 1.3em; }
a { color: #666; text-decoration: none; -webkit-transition: color .25s ease-out; -moz-transition: color .25s ease-out; -o-transition: color .25s ease-out; transition: color .25s ease-out; }
a:hover, a:focus { text-decoration: underline; outline: 0; }
.img-rep { position: relative; overflow: hidden; }
.img-rep .rep { position: absolute; width: 100%; height: 100%; }
.bold { font-weight: bold; }
input { color: #4c4c4c; }
::-webkit-input-placeholder { color: #c00; }
:-moz-placeholder { color: #c00; }


/* #Sticky footer styles
================================================== */
html, body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -85px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
  height: 85px; /* .push must be the same height as .footer */
}

/* #Page Styles
================================================== */
body {
  background: #f0f0f0 url("../img/bg.png") repeat;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75%; /* base font-size 12px http://pxtoem.com/*/
  color: #333333;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}
#wrapper { background: url("../img/bg-img.gif") no-repeat -190px 0; }
#main { position: relative; z-index: 5; }
#panel-wrap { width: 980px; margin: 0 auto; }
#panel-left { float: left; width: 490px; }
#panel-right { float: left; width: 455px; padding: 180px 35px 0 0; }

header { padding: 25px 0 0 40px; }
#logo { width: 410px; height: 118px; margin: 0 auto 25px; background: url("../img/logo.png") no-repeat; color: #c00; font-size: 135%; text-transform: uppercase; }
#speech-bubble { position: relative; width: 371px; margin: 0 0 48px 0; padding: 19px 20px 34px; color: #fff; border-radius: 16px 16px 16px 16px; background: #c00; text-align: left; }
#speech-bubble-arrow { position: absolute; bottom: -18px; right: 0; width: 20px; height: 36px; background: url("../img/speech-bubble-arrow.gif") right bottom no-repeat; }
.no-borderradius #speech-bubble { background: #c00 url("../img/speech-bubble-ie.gif") no-repeat; }
.no-borderradius #speech-bubble-arrow { left: 0; width: 411px; background: #c00 url("../img/speech-bubble-arrow-ie.gif") no-repeat; clear: both; }
.ie6 #speech-bubble-arrow { right: -1px; }

#panel-right > h2 { padding-bottom:20px; }
#panel-right section { float: left; width: 215px; border-top: 8px solid #dad9d8; }
#panel-right section h2 { font-size: 1.333em; }
#panel-right aside { float: left; width: 233px; height: 210px; background: url("../img/bg-cta.png") 0 0 no-repeat; position: relative; }
#panel-right aside p { position: absolute; top: 25px; left: 25px; font: 1.333em "HelveticaNeueW01-BdExt", Helvetica, Arial, sans-serif; color: #FFF; width: 105px; }
#panel-right aside .btn { position: absolute; top: 115px; left: 25px; }

footer { background: #dbdbdb; border-top: 1px solid #d0cdca; position: relative; z-index: 5; }
footer .footer-wrap { width: 905px; margin: 0 auto; padding: 25px 40px 30px 35px; }
footer #social { float: right; width: 200px; margin-top: -10px; }
footer #social li { float: right; width: 34px; margin-right: 10px; }
footer #social a { width: 34px; height: 36px; overflow: hidden; font-size: 60%; color: #dbdbdb; cursor: pointer; }
footer #social a:hover { text-decoration: none; border-bottom: none; }
footer #social a span { position: absolute; background-image: url(../img/footer-sprite.png); background-repeat: no-repeat; width: 37px; height: 36px; }
footer #social a:hover span { background-image: url(../img/footer-sprite.png); background-repeat: no-repeat; text-decoration: none; border-bottom: none; }
footer #social a.yt span { background-position: 0 0; }
footer #social a.yt:hover span, .footer #social a.yt:focus span { background-position: 0 -39px; }
footer #social a.fb span { background-position: -49px 0; }
footer #social a.fb:hover span, .footer #social a.fb:focus span { background-position: -49px -39px; }
footer #social a.tw span { background-position: -98px 0; }
footer #social a.tw:hover span, .footer #social a.tw:focus span { background-position: -98px -39px; }
#footer-list { width: 400px; float: left; color: #666666; }
#footer-list li a { color: #666666; }

/* #Misc
================================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* #Links
================================================== */
a { outline: 0; text-decoration: none; }
a:hover, a:focus { text-decoration: underline; }
p a, p a:visited { line-height: inherit; }

.btn {
  background-color: #CC0000;
  border: 1px solid #D63333;
  color: #FFFFFF;
  display: inline;
  font: 124% "HelveticaNeueW01-77BdCn 692722", Helvetica, Arial, sans-serif;
  padding: 3px 10px;
  text-shadow: 1px 1px 0 #850000;
}
.btn:hover, a.btn:focus {
  background-color: #333333;
  border: 1px solid #5C5C5C;
  color: #FFFFFF;
  text-decoration: none;
  text-shadow: 1px 1px 0 #000000;
}
.btn-cta {
  background: url("../img/btns.png") no-repeat scroll right 7px #CC0000;
  display: inline-block;
  font-size: 115%;
  padding: 4px 40px 5px 10px;
}
.btn-cta:hover {
  background-position: right -29px;
}
.btn-cta-big {
  background: url("../img/btns.png") no-repeat scroll right -58px #CC0000;
  display: inline-block;
  font-size: 1.417em;
  padding: 12px 70px 12px 10px;
}
.btn-cta-big:hover {
  background-position: right -99px;
}

/* Overlay styles - custom ------------------------------------------------------------           */
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 4;
}

#overlay.show { z-index: 6; }

#overlay #overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity = 65);
  -moz-opacity: 0.65;
  -khtml-opacity: 0.65;
  opacity: 0.65;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 102;
}

#overlay .rep {
  overflow: hidden;
  position: relative;
}

#overlay a {
  -moz-transition: color 0.25s ease-out 0s;
  font-weight: bold;
  text-decoration: none;
}

#close-overlay {
  position: absolute;
  right: 20px;
  top: 20px;
}
#close-overlay a {
  display: inline-block;
  height: 25px;
  width: 23px;
}
#close-overlay span {
  -moz-transition: background-color 0.25s ease-out 0s;
  background: url("../img/clubs-sprite.png") no-repeat scroll -118px -332px #333333;
  cursor: pointer;
  height: 25px;
  width: 23px;
  display: block;
  text-indent: -9000px;
}
#close-overlay a:hover span, #close-overlay a:focus span {
  background-color: #CC0000;
  outline: 0 none;
}

#overlay-content {
  margin: 10% auto 0;
  position: relative;
  z-index: 103;
  width: 470px;
  padding: 20px;
  background: #FFF;
}

#overlay-content h2 { font-size: 1.667em; }

#overlay-content #clubfinderform {
  background: none repeat scroll 0 0 #1A1A1A;
  width: 470px;
}

#overlay-content #clubfinderform p {
  border-bottom: 1px solid #333333;
  color: #FFFFFF;
  margin-bottom: 5px;
  padding: 17px 20px 15px;
}

#overlay-content #clubfinderform fieldset {
  padding: 10px 6px 19px 20px;
}

#overlay-content fieldset {
  border-bottom: 1px solid #404040;
  padding: 30px 12px 12px 20px;
}

#overlay-content #clubfinderform fieldset.find label {
  width: 400px;
}

#overlay-content #clubfinderform label {
  font: 161.6% "HelveticaNeueW01-BdExt", Helvetica, Arial, sans-serif;
}

#overlay-content legend, .frm label.ffb, label.ffb {
  margin-bottom: 10px;
}

#overlay-content .ffb {
  font-family: "HelveticaNeueW01-BdExt", Helvetica, Arial, sans-serif;
}

#overlay-content label {
  color: #CCCCCC;
  float: left;
  padding-top: 7px;
}

#overlay-content .chosen-select, #overlay-content .styleSelectWrap { width: 432px; }

/* chosen form plugin styles ------------------------------------------------------------           */
.chzn-container {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.chzn-container .chzn-drop {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: -moz-use-text-color #AAAAAA #AAAAAA;
  border-right: 1px solid #AAAAAA;
  border-style: none solid solid;
  border-width: 0 1px 1px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  left: 0;
  position: absolute;
  top: 29px;
  z-index: 999;
}
.chzn-container-single .chzn-single {
  background-clip: padding-box;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(center bottom, #EEEEEE 0%, white 50%);
  border: 1px solid #999999;
  color: #808080;
  display: block;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  padding: 0 0 0 8px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}
.select-row-error .chzn-container-single .chzn-single {
  background-color: #FBD0CD;
  background-image: none;
  border: 1px solid #CC0000;
}
.chzn-container-single .chzn-single span {
  color: #4C4C4C;
  display: block;
  font-size: 108%;
  margin-right: 26px;
  overflow: hidden;
  white-space: nowrap;
}
.chzn-container-single .chzn-single span.placeholder {
  color: #808080;
}
.chzn-container-single .chzn-single div {
  background-clip: padding-box;
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 27px;
}
.chzn-container-single .chzn-single div b {
  background: url("../img/arrows.png") no-repeat scroll 0 -322px transparent;
  display: block;
  height: 100%;
  width: 100%;
}
.chzn-container-single .chzn-search {
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chzn-container-single .chzn-search input {
  background: url("../img/chosen-sprite.png") no-repeat scroll 100% -20px, -moz-linear-gradient(center bottom, white 85%, #EEEEEE 99%) repeat scroll 0 0 transparent;
  border: 1px solid #AAAAAA;
  font: 1em sans-serif;
  margin: 1px 0;
  outline: 0 none;
  padding: 4px 20px 4px 5px;
}
.chzn-container-single .chzn-drop {
  background-clip: padding-box;
  border-top: 1px solid #999999;
}
.chzn-container .chzn-results {
  clear: both;
  margin: 0 4px 4px 0;
  max-height: 190px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 0 0 4px;
  position: relative;
}
.chzn-container-multi .chzn-results {
  margin: -1px 0 0;
  padding: 0;
}
.chzn-container .chzn-results li {
  color: #4C4C4C;
  line-height: 80%;
  list-style: none outside none;
  margin: 0;
  padding: 7px 7px 8px;
}
.chzn-container .chzn-results .active-result {
  cursor: pointer;
}
.chzn-container .chzn-results .highlighted {
  background: none repeat scroll 0 0 #AE0000;
  color: #FFFFFF;
}
.chzn-container .chzn-results li em {
  font-style: normal;
  font-weight: bold;
}
.chzn-container .chzn-results .highlighted em {
  background: none repeat scroll 0 0 transparent;
  color: #FFFFFF;
}
.chzn-container .chzn-results .no-results {
  background: none repeat scroll 0 0 #E6E6E6;
  margin-top: 4px;
}
.chzn-container .chzn-results .group-result {
  color: #999999;
  cursor: default;
  font-weight: bold;
}
.chzn-container-multi .chzn-drop .result-selected {
  display: none;
}
.enquiry-corporate .chzn-container-active {
  z-index: 1000;
}
.chzn-container-multi .chzn-choices {
  background: url("../img/arrows.png") no-repeat scroll 390px -322px #FFFFFF;
  border: 1px solid #AAAAAA;
  cursor: text;
  height: auto !important;
  margin: 0;
  overflow: hidden;
  padding: 0 26px 0 0;
  position: relative;
}
.chzn-container-multi .chzn-choices li {
  float: left;
  list-style: none outside none;
}
.chzn-container-multi .chzn-choices .search-field {
  white-space: nowrap;
}
.chzn-container-multi .chzn-choices .search-field input {
  background: none repeat scroll 0 0 transparent !important;
  border: 0 none !important;
  box-shadow: none;
  color: #666666;
  outline: 0 none;
  padding: 5px;
}
.chzn-container-multi .chzn-choices .search-field input:hover {
  cursor: pointer;
}
.chzn-container-multi .chzn-choices .search-field .default {
  color: #999999;
}
.chzn-container-multi .chzn-choices .search-choice {
  border: 1px solid #B4B4B4;
  border-radius: 5px 5px 5px 5px;
  color: #4C4C4C;
  font-weight: bold;
  line-height: 13px;
  margin: 3px 0 3px 5px;
  padding: 3px 19px 3px 6px;
  position: relative;
}
.chzn-container-multi .chzn-choices .search-choice span {
  cursor: default;
}
.chzn-container-multi .chzn-choices .search-choice-focus {
  background: none repeat scroll 0 0 #D4D4D4;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  background: url("../img/chosen-sprite.png") no-repeat scroll right top transparent;
  display: block;
  font-size: 1px;
  height: 9px;
  position: absolute;
  right: 5px;
  top: 6px;
  width: 8px;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
  background-position: right -9px;
}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
  background-position: right -9px;
}

/* style select plugin ------------------------------------------------------------           */
#overlay-content .chosen-select,
#overlay-content .styleSelectWrap	{width:432px; }
#overlay-content .styleSelect	{width:350px; }
#overlay-content .select-wrap	{width:287px; }
#overlay-content .select-wrap		{float:left; }
#overlay-content .select-wrap select	{position:absolute; height:29px; }
#overlay-content .styleSelectWrap 	{ display:inline-block; color:#4c4c4c; border:1px solid #999; background:#fff url("../img/dropdown-select.gif") right top no-repeat; }
#overlay-content .styleSelect 		{color:#4c4c4c; width:185px; display:inline-block; padding:6px 40px 5px 7px; font:bold 108% arial,sans-serif; text-overflow:ellipsis; xxwhite-space:nowrap; }
#overlay-content .touch .styleSelect	{padding:5px 40px 4px 7px; }
#overlay-content .select-text			{color:#808080; }
#overlay-content .classic .styleSelect 	{color:#B3B3B3; }
#overlay-content .classic .select-text	{color:#808080; }
#overlay-content a.styleSelectWrap:focus	{border:1px solid #fff; border-bottom:0; box-shadow:-1px -1px 5px #fff; }

/* Browser fixes ------------------------------------------------------------           */



