<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <!--  Richard local 
  <add name="core" connectionString="user id=VirginWebUser;password=V1r9!n;Data Source=MMFreelancer1PC,5045\virginactive;Database=Sitecore_Core" />
  <add name="master" connectionString="user id=VirginWebUser;password=V1r9!n;Data Source=MMFreelancer1PC,5045\virginactive;Database=Sitecore_Master" />
  <add name="web" connectionString="user id=VirginWebUser;password=V1r9!n;Data Source=MMFreelancer1PC,5045\virginactive;Database=Sitecore_Web" />
  <add name="analytics" connectionString="user id=VirginWebUser;password=V1r9!n;Data Source=MMFreelancer1PC,5045\virginactive;Database=Sitecore_Analytics" />-->
  <!--	
  <add name="core" connectionString="user id=USR_WebDatabaseWorker;password=Pa$$w0rd;Data Source=MCMR-REELANCER1,5045\DEV_001;Database=Sitecore_Core" />
  <add name="master" connectionString="user id=USR_WebDatabaseWorker;password=Pa$$w0rd;Data Source=MCMR-REELANCER1,5045\DEV_001;Database=Sitecore_Master" />
  <add name="web" connectionString="user id=USR_WebDatabaseWorker;password=Pa$$w0rd;Data Source=MCMR-REELANCER1,5045\DEV_001;Database=Sitecore_Web" />
  <add name="analytics" connectionString="user id=USR_WebDatabaseWorker;password=Pa$$w0rd;Data Source=MCMR-REELANCER1,5045\DEV_001;Database=Sitecore_Analytics" />-->
  
  <!-- DEV  -->
  <add name="core" connectionString="user id=USR_VirginActiveWeb;password=MMPa$$w0rd;Data Source=172.30.1.4,5999\DEV_001;Database=Sitecore_Core" />
  <add name="master" connectionString="user id=USR_VirginActiveWeb;password=MMPa$$w0rd;Data Source=172.30.1.4,5999\DEV_001;Database=Sitecore_Master" />
  <add name="web" connectionString="user id=USR_VirginActiveWeb;password=MMPa$$w0rd;Data Source=172.30.1.4,5999\DEV_001;Database=Sitecore_Web" />
  <add name="analytics" connectionString="user id=VirginWebUser;password=V1r9!n;Data Source=MMFreelancer1PC,5045\virginactive;Database=Sitecore_Analytics" />

  <!-- UAT  
  <add name="core" connectionString="user id=USR_VirginActiveWeb;password=MMPa$$w0rd;Data Source=172.30.1.4,5999\DEV_001;Database=SitecoreUAT_Core" />
  <add name="master" connectionString="user id=USR_VirginActiveWeb;password=MMPa$$w0rd;Data Source=172.30.1.4,5999\DEV_001;Database=SitecoreUAT_Master" />
  <add name="web" connectionString="user id=USR_VirginActiveWeb;password=MMPa$$w0rd;Data Source=172.30.1.4,5999\DEV_001;Database=SitecoreUAT_Web" />
  <add name="analytics" connectionString="user id=VirginWebUser;password=V1r9!n;Data Source=MMFreelancer1PC,5045\virginactive;Database=SitecoreUAT_Analytics" />
  -->
 
</connectionStrings>