<?xml version="1.0"?>
<mm.virginactive.webservices.Properties.Settings>
  <setting name="mm_virginactive_webservices_virginactive_classtimetable_Service"
      serializeAs="String">
    <!--<value>http://ws.virginactive.co.uk/VA_ClassTimetablesTkn.asmx</value>-->
    <value>http://web.virginactive.co.uk/VA_ClassTimetablesTkn.asmx</value>
  </setting>
  <setting name="mm_virginactive_webservices_virginactive_FeedbackEnquiry_MM_WebServices"
      serializeAs="String">
    <!--<value>http://ws.virginactive.co.uk/MM_Webservices.asmx</value>-->
    <value>http://web1.virginactive.co.uk/MM_WebServices.asmx</value>
  </setting>
  <setting name="mm_virginactive_webservices_virginactive_reciprocalaccess_RecipAccess"
      serializeAs="String">
    <!--<value>http://ws.virginactive.co.uk/RecipAccess.asmx</value>-->
    <value>http://web.virginactive.co.uk/ClubAccess/RecipAccess.asmx</value>
  </setting>
  <setting name="mm_virginactive_webservices_MemberDetails_MemberDetails"
      serializeAs="String">
    <value>http://web1.virginactive.co.uk/VA_MemberDetails.asmx</value>
  </setting>
  <setting name="mm_virginactive_webservices_virginactive_indoortriathlon_Registration"
      serializeAs="String">
    <value>http://va.racetimingsystems.com/xml/registration.asmx</value>
  </setting>
</mm.virginactive.webservices.Properties.Settings>