<?xml version="1.0"?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>
      <getMediaStream>
        <processor x:before="*[1]" type="CmsSource.CropIt.Resources.Media.CropProcessor, CmsSource.CropIt"/>
        <processor type="Sitecore.Resources.Media.ResizeProcessor, Sitecore.Kernel">
          <x:attribute name="type">CmsSource.CropIt.Resources.Media.ResizeProcessor, CmsSource.CropIt</x:attribute>
        </processor>
      </getMediaStream>

      <renderField>
        <processor type="Sitecore.Pipelines.RenderField.GetImageFieldValue, Sitecore.Kernel">
          <x:attribute name="type">CmsSource.CropIt.Pipelines.Render.GetImageFieldValue, CmsSource.CropIt</x:attribute>
        </processor>        
      </renderField>
    </pipelines>

    <processors>
      <attachFile>
        <processor type="Sitecore.Pipelines.Attach.UpdatePath,Sitecore.Kernel">
          <x:attribute name="type">CmsSource.CropIt.Pipelines.Attach.UpdatePath, CmsSource.CropIt</x:attribute>
        </processor>
      </attachFile>

      <uiUpload>
        <processor type="Sitecore.Pipelines.Upload.ResolveFolder, Sitecore.Kernel">
          <x:attribute name="type">CmsSource.CropIt.Pipelines.Upload.ResolveFolder, CmsSource.CropIt</x:attribute>
        </processor>
        <processor type="Sitecore.Pipelines.Upload.Save, Sitecore.Kernel">
          <x:attribute name="type">CmsSource.CropIt.Pipelines.Upload.Save, CmsSource.CropIt</x:attribute>
        </processor>
      </uiUpload>
    </processors>

    <controlSources>
      <source mode="on" x:before="*[1]" namespace="CmsSource.CropIt.Shell" folder="/sitecore modules/CropIt" deep="true" />
      <source mode="on" namespace="CmsSource.CropIt.Shell.Applications.ContentEditor" assembly="CmsSource.CropIt" prefix="customcontent" />
    </controlSources>

    <commands>
      <command name="media:editcrops" type="CmsSource.CropIt.Shell.Applications.ContentEditor.EditCrops,CmsSource.CropIt" />
    </commands>

    <settings>
      <setting name="CropIt.ImageFileTypes" value="png,jpg,jpeg,bmp,gif" />
      <setting name="CropIt.CropTemplateId" value="{A52776CF-E821-4899-A516-3C8FF907C0EB}" />
      <setting name="CropIt.CropDefinitionsPath" value="/sitecore/system/Modules/CropIt Crop Sizes" />


      <!--  MEDIA - INTERPOLATION
            The interpolation mode to use when resizing images.
            See also the System.Drawing.Drawing2D.InterpolationMode enum.
            Valid values:  Bicubic
                           Bilinear
                           Default
                           High
                           HighQualityBicubic
                           HighQualityBilinear
                           Low
                           NearestNeighbor
            Default value: High
      -->
      <setting name="CropIt.InterpolationMode" value="High" />
      <!--  MEDIA - SmoothingMode
            The smoothing mode to use when resizing images.
            See also the System.Drawing.Drawing2D.SmoothingMode enum.
            Valid values:  Invalid                           
                           Default
                           HighSpeed
                           HighQuality                           
                           None
                           AntiAlias
            Default value: HighQuality
      -->
      <setting name="CropIt.SmoothingMode" value="HighQuality" />
      <!--  MEDIA - PixelOffsetMode
            The PixelOffset mode to use when resizing images.
            See also the System.Drawing.Drawing2D.PixelOffsetMode enum.
            Valid values:  Invalid                           
                           Default
                           HighSpeed
                           HighQuality                           
                           None
                           Half
            Default value: HighQuality
      -->
      <setting name="CropIt.PixelOffsetMode" value="HighQuality" />
      <!--  MEDIA - CompositingQuality
            The Compositing Quality to use when resizing images.
            See also the System.Drawing.Drawing2D.CompositingQuality enum.
            Valid values:  Invalid                           
                           Default
                           HighSpeed
                           HighQuality                           
                           GammaCorrected
                           AssumeLinear
            Default value: HighQuality
      -->
      <setting name="CropIt.CompositingQuality" value="HighQuality" />
      <!--  MEDIA - CompostingMode
            The Compositing mode to use when resizing images.
            See also the System.Drawing.Drawing2D.CompositingMode enum.
            Valid values:  SourceOver                           
                           SourceCopy          
            Default value: SourceCopy
      -->
      <setting name="CropIt.CompostingMode" value="SourceCopy" />
      <!--  MEDIA - Encoder quality
            The level of compression to use when resizing images.            
            Valid values:  0 - 100 (100 for highest quality, lowest compression)                           
                                     
            Default value: 50
      -->
      <setting name="CropIt.Encoder.QualityConst" value="100" />      
    </settings>

  </sitecore>
</configuration>

<!-- Media Uploads Directory watcher:
To have CropIt run against the media uploads folder, you will need to add the following entries directly into the web.config as we cannot patch configuration 
entries that are ourside the <sitecore> element.
You will need to REMOVE the matching Sitecore entries from each of the sections:
     1. <add type="Sitecore.Resources.Media.UploadWatcher, Sitecore.Kernel" name="SitecoreUploadWatcher" />
     
     
If you do not intend to use this feature, you can ignore this entry.
<configuration>
  <system.webServer>
    <modules>
      <add type="CmsSource.CropIt.Resources.Media.UploadWatcher, CmsSource.CropIt" name="SitecoreUploadWatcher" />
    </modules>
  </system.webServer>

  <system.web>
    <httpModules>
      <add type="CmsSource.CropIt.Resources.Media.UploadWatcher, CmsSource.CropIt" name="SitecoreUploadWatcher" />
    </httpModules>
  </system.web>
</configuration>

-->
