<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.Pipelines.HttpRequest.DeviceResolver, Sitecore.Kernel">
          <patch:attribute name="type">mm.virginactive.controls.Pipelines.DeviceResolver, mm.virginactive.controls</patch:attribute>
        </processor>
      </httpRequestBegin>      
    </pipelines>
    <settings>
    </settings>
  </sitecore>
</configuration>
