<?xml version="1.0"?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Virgin.Footer" value="/sitecore/content/page-elements/Footer"/>
      <setting name="Virgin.ClubFinderWidget" value="/sitecore/content/widgets/club-finder"/>
      <setting name="Virgin.Header" value="/sitecore/content/page-elements/Header"/>
      <setting name="Virgin.HomePage" value="/sitecore/content/Home"/>
      <setting name="Virgin.BlogTemplateId" value="{46663E05-A6B8-422A-8E13-36CD2B041278}"/>
      <setting name="Virgin.Components" value="/sitecore/content/Components"/>
      <setting name="Virgin.Settings" value="/sitecore/content/Settings"/>

      <setting name="Virgin.Clubs" value="/sitecore/content/Home/clubs"/>
      <setting name="Virgin.ClubResults" value="/sitecore/content/Home/club-finder/results"/>
      <setting name="Virgin.ClubFinder" value="/sitecore/content/Home/club-finder"/>
      <setting name="Virgin.EnquiryForm" value="/sitecore/content/Home/club-enquiry"/>
      <setting name="Virgin.Regions" value="/sitecore/content/Components/Clubs/Club Regions"/>
      <setting name="Virgin.Offers" value="/sitecore/content/Offers"/>

      <setting name="Virgin.OurPartners" value="/sitecore/content/Home/our-partners"/>

      <setting name="Virgin.FacilitiesAndClasses" value="/sitecore/content/Home/facilities-and-classes"/>

      <setting name="Virgin.SharedFacilities" value="/sitecore/content/shared-club-content/Facilities"/>
      <setting name="Virgin.FacilitiesLanding" value="/sitecore/content/Home/facilities-and-classes/facilities"/>
      <setting name="Virgin.FacilitiesListing" value="/sitecore/content/Home/facilities-and-classes/facilities/facility"/>
      <setting name="Virgin.KidsLanding" value="/sitecore/content/Home/facilities-and-classes/kids"/>
      <setting name="Virgin.HealthAndBeautyLanding" value="{9DC7F66C-91B5-4DF7-83A8-8BDD18CF71C0}"/>      
      <setting name="Virgin.PersonalTrainingLanding" value="/sitecore/content/Home/facilities-and-classes/personal-training"/>
      <setting name="Virgin.TimetableShared" value="{5DF286B5-4DD1-4752-984E-7A26C1ACE384}"/>
      

      <setting name="Virgin.ClassesLanding" value="/sitecore/content/Home/facilities-and-classes/classes"/>
      <setting name="Virgin.ClassesListing" value="/sitecore/content/Home/facilities-and-classes/classes/class-listing"/>
      <setting name="Virgin.SharedClasses" value="/sitecore/content/shared-club-content/Classes"/>
      <setting name="Virgin.SharedTreatmentsList" value="/sitecore/content/shared-club-content/health-and-beauty"/>

      <setting name="Virgin.SharedClubContent" value="/sitecore/content/shared-club-content"/>
      <setting name="Virgin.SharedWhatsNew" value="/sitecore/content/shared-club-content/Whats new"/>

      <setting name="Virgin.YourHealth" value="/sitecore/content/Home/active-matters"/>
      <setting name="Virgin.YourHealthArticles" value="/sitecore/content/Home/active-matters/articles"/>
      <setting name="Virgin.YourHealthTools" value="/sitecore/content/Home/active-matters/tools"/>
      <setting name="Virgin.YourHealthWorkouts" value="/sitecore/content/Home/active-matters/Workouts"/>
      <setting name="Virgin.YourHealthBlog" value="/sitecore/content/Home/active-matters/blog"/>
      <setting name="Virgin.WorkoutCategories" value="/sitecore/content/Components/Your Health/Workout Categories"/>
      
      <setting name="Virgin.Memberships" value="/sitecore/content/Home/memberships"/>
      <setting name="Virgin.MembershipOptions" value="/sitecore/content/Home/memberships/options"/>
      <setting name="Virgin.MembershipReciprocal" value="/sitecore/content/Home/memberships/multi-club-access"/>
      <setting name="Virgin.MemberBenefits" value="/sitecore/content/Home/memberships/member-benefits"/>
      <setting name="Virgin.SharedMemberships" value="/sitecore/content/shared-club-content/Memberships"/>
      <setting name="Virgin.SharedMembershipCorporate" value="/sitecore/content/shared-club-content/corporate-membership"/>

      <setting name="Virgin.PressLanding" value="/sitecore/content/Home/press"/>
      <setting name="Virgin.AboutUs" value="/sitecore/content/Home/about-us"/>
      <setting name="Virgin.Legal" value="/sitecore/content/Home/legals"/>
      <setting name="Virgin.PrivacyPolicy" value="/sitecore/content/Home/legals/privacy-policy"/>
      <setting name="Virgin.TermsAndConditions" value="/sitecore/content/Home/legals/terms-and-conditions"/>
      <setting name="Virgin.CookiesForm" value="{64BD434E-58E2-4213-8C87-ED2CF7F17ECD}"/>
      <setting name="Virgin.CookiesRibbon" value="{241598B4-751A-4F68-B117-8C7D4BB0F56D}"/>

      <setting name="Virgin.HomePagePanels.Upper" value="{FEEB808F-7431-4499-9038-516A90526E5E}"/>
      <setting name="Virgin.HomePagePanels.Lower" value="{F4739FAB-2BFE-47B9-8554-3C978E2FAA3A}" />

      <!--Indoor Triathlon-->
      <setting name="Virgin.IndoorTriathlonClubFinderWidget" value="{4BB9E495-DFB8-4A29-9CD8-6727AD0C0B52}"/>
      <!--<setting name="Virgin.IndoorTriathlonRegistrationForm" value="{8D0788A6-AF84-4DA2-B5A3-A69BA2C4ED56}"/>-->
      <setting name="Virgin.IndoorTriathlonRegistrationForm" value="{DD3308B1-7CA6-4AA8-A6AA-35C3033F50A5}"/>
      <setting name="Virgin.IndoorTriathlonHomePage" value="{32730FFB-409C-4C75-81A7-037308218E15}"/>
      

      <!--Indoor Triathlon Races-->
      <setting name="Virgin.IndoorTriathlonRaces" value="{6E8F5D28-BDDD-40A2-AF6F-760357A359D3}"/>
      <setting name="Virgin.IndoorTriathlonEventDates" value="{E21D3FDD-6C12-4C56-8A2F-03755AF3F470}"/>

      <setting name="Virgin.FreeGuestPassAllClubs" value="/sitecore/content/Components/Campaigns/Campaign Type/Free Guest Pass All Clubs"/>

      <!--Triathlon Microsite-->
      <!--<setting name="Virgin.TriathlonProfileGroups" value="/sitecore/content/Components/Campaigns/Triathlon/Profile Category"/>
      <setting name="Virgin.TriathlonClubFinderWidget" value="/sitecore/content/Home/Campaigns/Triathlon/Shared Widgets/Club Finder"/>
      <setting name="Virgin.TriathlonEventPage" value="/sitecore/content/Home/campaigns/triathlon/event"/>-->
      <setting name="Virgin.TriathlonProfileGroups" value="{90B83761-159F-4932-B65B-70DA648EBE5B}"/>
      <setting name="Virgin.TriathlonClubFinderWidget" value="{91D98B26-6E74-4F48-99ED-3E09373550FA}"/>
      <setting name="Virgin.TriathlonEventPage" value="{18691FA2-F104-4737-A32D-CA3E0DB52DCE}"/>

      <!--RSS Feeds-->
      <setting name="Virgin.PressRSSFeed" value="/sitecore/content/Home/press/press-feed"/>

      <!--Kids-->
      <setting name="Virgin.KidsFacilityListing" value="{BF89F48C-E55D-4701-A76F-5903CD939D7E}"/>
      <setting name="Virgin.ClubVFacilityId" value="{B71AC01F-666F-41E1-A0B4-0FFEC3FB4754}|{A4191EA0-A7FA-47CE-8B11-A886726217A9}|{57F65A72-C7EB-4C6D-97A8-2E55B69C4783}|{31B9FD5D-50B6-4383-B053-1D786775E886}"/>
      <setting name="Virgin.ActiveAcademyFacilityId" value="{DC18DA2A-0195-407E-ADBB-77EF1861C3AE}"/>
      <setting name="Virgin.SharedClubV" value="/sitecore/content/shared-club-content/kids/club-v"/>
      <setting name="Virgin.SharedActiveA" value="/sitecore/content/shared-club-content/kids/active-academy"/>
      
      <!-- Swim & Spa -->
      <setting name="Virgin.SpaFacilityIds" value="{0D241B5D-86DB-4CE3-9F26-50853D78603E}|{7D422245-E8E0-4B4D-8891-DDBBE7B6D0A6}|{E8F89D45-79DB-4C76-A386-B5314657EBA1}"/>

      <!-- Microsite Section Templates -->
      <setting name="Virgin.MicrositeSectionTemplates" value="{ACAB780D-6C7D-4A6D-8AB6-10331C7C08B9}|{48E42536-3942-4CDE-8092-957719E8D2AB}|{2D8637B5-27D2-477E-8393-0A7A04517F85}"/>

      <!-- Sitemaps -->
      <setting name="Virgin.SitemapRoot" value="{8C3D799B-D854-4187-9D4E-C11BCA3B8223}"/>

      <!-- Club Timetable Section Name -->
      <setting name="Virgin.TimetableSectionName" value="Timetables"/>      
      
      <!-- Search index names (comma delemeter of more than one) -->
      <setting name="Virgin.SearchIndexes" value="fullSiteSearch"/>

      <!-- Turn on club finder icons - default true -->
      <setting name="Virgin.ShowClubFinderIcons" value="false"/>

      <!-- Emails -->
      <setting name="Virgin.ClubEnquiryFormAdmin" value="/sitecore/content/Emails/main-site/System/club-enquiry-admin"/>
      <setting name="Virgin.CorporateEnquiryFormAdmin" value="/sitecore/content/Emails/main-site/System/corporate-enquiry-admin"/>
      <setting name="Virgin.ClubFeedbackFormAdmin" value="/sitecore/content/Emails/main-site/System/club-feedback-admin"/>
      <setting name="Virgin.ContactUsFeedbackFormAdmin" value="/sitecore/content/Emails/main-site/System/club-feedback-admin"/>
      <setting name="Virgin.KidsClubFeedbackFormAdmin" value="/sitecore/content/Emails/main-site/System/kids-club-feedback-admin"/>
      <setting name="Virgin.HealthAndBeautyBookingFormAdmin" value="/sitecore/content/Emails/main-site/System/book-health-and-beauty-admin"/>
      <setting name="Virgin.PersonalDetailsFormAdmin" value="/sitecore/content/Emails/main-site/System/personal-details-admin"/>
      <setting name="Virgin.IndoorTriathlonFormAdmin" value="/sitecore/content/Emails/main-site/System/indoor-triathlon-admin"/>

      <setting name="Virgin.FeedbackCampaignFormAdmin" value="/sitecore/content/Emails/Campaigns/System/feedback-campaign-admin"/>

      <setting name="Virgin.EnquiryConfirmation" value="/sitecore/content/Emails/main-site/Customer/enquiry-confirmation"/>
      <setting name="Virgin.CorporateEnquiryConfirmation" value="/sitecore/content/Emails/main-site/Customer/corporate-enquiry-confirmation"/>
      <setting name="Virgin.ClubFeedbackConfirmation" value="/sitecore/content/Emails/main-site/Customer/club-feedback-confirmation"/>
      <setting name="Virgin.ContactUsFeedbackConfirmation" value="/sitecore/content/Emails/main-site/Customer/club-feedback-confirmation"/>
      <setting name="Virgin.KidsClubFeedbackConfirmation" value="/sitecore/content/Emails/main-site/Customer/kids-club-feedback-confirmation"/>
      <setting name="Virgin.HealthAndBeautyEnquiryConfirmation" value="/sitecore/content/Emails/main-site/Customer/health-and-beauty-enquiry-confirmation"/>
      <setting name="Virgin.HealthAndBeautyAppointmentConfirmation" value="/sitecore/content/Emails/main-site/Customer/health-and-beauty-appointment-confirmation"/>
      <setting name="Virgin.PersonalDetailsConfirmation" value="/sitecore/content/Emails/main-site/Customer/personal-details-confirmation"/>
      <setting name="Virgin.IndoorTriathlonConfirmation" value="/sitecore/content/Emails/main-site/Customer/indoor-triathlon-confirmation"/>

      <!--Mobile-->
      <setting name="Virgin.Mobile.HomePage" value="{E6710774-852A-40D0-B7F6-FF020056288B}"/>
      <!--Mobile Optimized Crop Sizes-->
      <setting name="Virgin.Mobile.OptimizedCropSizes" value="{C84E15CF-BBD8-4E6C-AB4F-718546E45B07}"/>
			
			<!--Crop Sizes-->
			<setting name="Virgin.CropSizes" value="{AADB7B8D-B0E7-4D28-8D03-6DD594F60CB8}"/>

			<!--Settings-->
      <setting name="Virgin.SettingsItem" value="{AC40A325-7515-4723-8907-02606F2EC197}"/>

      <!-- Landing Page Section Names -->
      <setting name="Virgin.LandingPages.Section.WhyVirginActive" value="Why Virgin Active"/>
      <setting name="Virgin.LandingPages.Section.VirginActiveStatistics" value="Virgin Active Statistics"/>
      <setting name="Virgin.LandingPages.Section.Accreditations" value="Accreditations"/>
      <setting name="Virgin.LandingPages.Section.LandingProfiles" value="Landing Profiles"/>
      <setting name="Virgin.LandingPages.Template.WhatsNext" value="{C1112FAF-B826-4FCB-92E6-FE85E8B605DD}"/>
      <setting name="Virgin.LandingPages.Template.Enquiry" value="{0A2DFC96-EB80-4BC6-9EC4-EAA3F240B98A}"/>
	  <setting name="Virgin.LandingPages.Template.Highlight" value="{49083FE1-8F14-4323-9003-644A99C93E5A}"/>
	  <setting name="Virgin.LandingPages.Template.HighlightContainer" value="{42E8A71B-F8E5-4CCC-82A3-85A3975BC9E0}"/>
      
      <setting name="Virgin.RedirectLinks" value="/sitecore/content/Redirect-Links"/>
	  <setting name="Virgin.RedirectLinks.Template" value="{7D80758B-469B-4617-A753-52B841086068}"/>
	  

	</settings>
   </sitecore>
</configuration>