<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
   <sitecore>
      <databases>
         <database id="web" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
            <Engines.HistoryEngine.Storage>
               <obj type="Sitecore.Data.$(database).$(database)HistoryStorage, Sitecore.Kernel">
                  <param connectionStringName="$(id)" />
                  <EntryLifeTime>30.00:00:00</EntryLifeTime>
               </obj>
            </Engines.HistoryEngine.Storage>
            <Engines.HistoryEngine.SaveDotNetCallStack>false</Engines.HistoryEngine.SaveDotNetCallStack>
         </database>
      </databases>
      <search>
         <configuration>
            <indexes>                            
              <index id="fullSiteSearch" type="Sitecore.Search.Index, Sitecore.Kernel">
                <param desc="name">$(id)</param>
                <param desc="folder">fullSiteSearch</param>
                <Analyzer ref="search/analyzer" />
                <locations hint="list:AddCrawler">
                  <master type="Sitecore.SharedSource.Search.Crawlers.AdvancedDatabaseCrawler,Sitecore.SharedSource.Search">
                    <Database>web</Database>
                    <Root>/sitecore/content</Root>
                    <IndexAllFields>true</IndexAllFields>

                    <include hint="list:IncludeTemplate">
                      <!-- Classic Club -->
                      <templates>{47C95913-5298-4C51-9266-B69D42FF67D9}</templates>
                      <!-- Life Centre -->
                      <templates>{3DDBB424-C7C0-4379-A1A8-D2DF0FF84564}</templates>
                      <!-- Classes Module (Shared Library)-->                      
                      <templates>{68F6D97A-1B45-4183-95ED-0FD64435EC13}</templates>
                      <!-- Facility Module (Shared Library)-->
                      <templates>{9D4E682F-4D16-4B4B-8D73-1B0AED1793E6}</templates>
                      <!-- Facility Landing-->
                      <!--<templates>{FB5EF40B-0765-4628-8EDB-892E88E6DEBC}</templates>-->                      
                    </include>

                    <!-- <include hint="list:ExcludeTemplate">
                           <template>{GUID}</template>
                        </include>-->

                    <include hint="list:IncludeField">
                      <!--Abstract-->
                      <!--Subheading-->
                      <!--<fieldId>{7FB203AA-6567-4F1B-B2A5-33F6083866E9}</fieldId>-->
                      <!--Summary-->
                      <!--<fieldId>{0C4D66BF-0ABB-4791-B66D-6C554C5422B8}</fieldId>-->
                      
                      <!--Page Summary-->
                      <!--Navigation Title-->
                      <fieldId>{B9C93F22-5F29-4B4D-AC83-4EF5006ED350}</fieldId>
                      <!--Page Description-->
                      <!--<fieldId>{1867D97C-9CDC-4497-903E-5DF37652C070}</fieldId>-->
                      <!--Page Keywords-->
                      <!--<fieldId>{87B0989B-CA68-437A-A00D-3B58DAF87C57}</fieldId>-->

                      <!--Club Fields-->
                      <!--Club name-->
                      <fieldId>{102D1DE0-10C7-43C4-A423-144BCC958C13}</fieldId>
                      <!--Alternative club name-->
                      <!--<fieldId>{B7FDFFF6-E6A4-4F82-BEB7-FF48BE9A3BC3}</fieldId>-->
                      <!--Address Line 1-->
                      <!--<fieldId>{728F29DF-B7E7-40CF-9A2F-D078B5DD7FF1}</fieldId>-->
                      <!--Address Line 2-->
                      <!--<fieldId>{372AAF0A-B7DA-4CFE-991F-777C38CD8784}</fieldId>-->
                      <!--Address Line 3-->
                      <!--<fieldId>{D01509C8-135C-4469-9E4A-CC71EC60C518}</fieldId>-->
                      <!--Address Line 4-->
                      <fieldId>{B2630608-D279-4269-8DC1-21FAFA7B4CE1}</fieldId>
                      <!--Postcode-->
                      <fieldId>{194FD191-6243-48B2-B3E3-19F05E4FF1EA}</fieldId>
                      <!--Nearest train station-->
                      <!--<fieldId>{4C3F20A2-7D16-4C53-86FC-7E66FB503797}</fieldId>-->
                      <!--Nearest tube station-->
                      <!--<fieldId>{6861794F-8E19-4BE8-93C0-1AA5EE680B92}</fieldId>-->

                      <!--Facility Module Fields-->
                      <!--Summary for club area-->
                      <!--<fieldId>{5E314DAA-414A-4846-A994-B9DAB498C119}</fieldId>-->
                      <!--Search summary for club area-->
                      <fieldId>{0898951D-A079-4474-9889-252506BFA217}</fieldId>                      

                      <!--Facility Landing Fields-->
                      <!--Facility List-->
                      <!--<fieldId>{795FB13E-C298-4205-AE71-C978C8DE99FB}</fieldId>-->

                      <!--Class Module Fields-->
                      <!--Title-->
                      <!--<fieldId>{FFC1F837-730C-44F7-A417-97713BAA404F}</fieldId>-->
                      <!--Summary-->
                      <!--<fieldId>{48189EC0-D1A7-4B6B-A83F-20796BF6B509}</fieldId>-->
                      <!--Search summary for club area-->
                      <fieldId>{BC9F8B11-5C91-4DB0-AAF7-96F32B522BF4}</fieldId>
                    </include>

                    <include hint="list:ExcludeField">
                      <!--Abstract-->
                      <!--Subheading-->
                      <fieldId>{7FB203AA-6567-4F1B-B2A5-33F6083866E9}</fieldId>
                      <!--Summary-->
                      <fieldId>{0C4D66BF-0ABB-4791-B66D-6C554C5422B8}</fieldId>  
                      
                      <!--Club Fields-->
                      <!--Address Line 1-->
                      <fieldId>{728F29DF-B7E7-40CF-9A2F-D078B5DD7FF1}</fieldId>
                      <!--Address Line 2-->
                      <fieldId>{372AAF0A-B7DA-4CFE-991F-777C38CD8784}</fieldId>
                      <!--Address Line 3-->
                      <fieldId>{D01509C8-135C-4469-9E4A-CC71EC60C518}</fieldId>
                      <!--Sales Telephone Number-->
                      <fieldId>{2BDDE3C2-5753-462B-898D-1A7A1E826875}</fieldId>
                      <!--Members Telephone Number-->
                      <fieldId>{2BDDE3C2-5753-462B-898D-1A7A1E826875}</fieldId>
                      <!--Sales Telephone Number-->
                      <fieldId>{2BDDE3C2-5753-462B-898D-1A7A1E826875}</fieldId>
                      <!--Members Telephone Number-->
                      <fieldId>{2BDDE3C2-5753-462B-898D-1A7A1E826875}</fieldId>
                      <!--Opening hours-->
                      <fieldId>{C5222677-4C75-4C80-A772-568199BBF1AB}</fieldId>
                      <!--Sales email-->
                      <fieldId>{7DE2AD6C-C820-46A3-AD10-EB2A3559F0CB}</fieldId>
                      <!--Kids feedback email-->
                      <fieldId>{B35811B9-D3E1-4F93-81CA-D9FD22407C7B}</fieldId>
                      <!--Feedback email-->
                      <fieldId>{CD7A40A3-A6B5-4285-81AF-0E3DC497397D}</fieldId>
                      <!--Parking options-->
                      <fieldId>{A67030AB-3177-4E0A-B378-494548BE5E31}</fieldId>
                      <!--Distance to nearest train station-->
                      <fieldId>{444350DC-60EB-4525-89AA-A8D56A597E35}</fieldId>
                      <!--Distance to nearest tube station-->
                      <fieldId>{920B5D7C-641C-47B8-9060-C7B485BEC8F1}</fieldId>
                      <!--Nearest train station-->
                      <fieldId>{4C3F20A2-7D16-4C53-86FC-7E66FB503797}</fieldId>
                      <!--Nearest tube station-->
                      <fieldId>{6861794F-8E19-4BE8-93C0-1AA5EE680B92}</fieldId>
                      <!--Alternative club name-->
                      <fieldId>{B7FDFFF6-E6A4-4F82-BEB7-FF48BE9A3BC3}</fieldId>
                      <!--Address Line 1-->
                      <fieldId>{728F29DF-B7E7-40CF-9A2F-D078B5DD7FF1}</fieldId>
                      <!--Address Line 2-->
                      <fieldId>{372AAF0A-B7DA-4CFE-991F-777C38CD8784}</fieldId>
                      <!--Address Line 3-->
                      <fieldId>{D01509C8-135C-4469-9E4A-CC71EC60C518}</fieldId>
                      <!--Ex-Esporta-->
                      <fieldId>{CD7092E9-8F3D-4F5D-A1BD-948EEFA8196D}</fieldId>
                      <!--Health and Beauty provider-->
                      <fieldId>{A0D02445-C7CC-4D97-A75F-BFECB4BDF415}</fieldId>
                      <!--Towels-->
                      <fieldId>{15CD3D94-AE14-41A2-9A13-971E056A6914}</fieldId>
                      <!--Image gallery-->
                      <fieldId>{F307EC16-E643-4EE3-915E-FEBAA40B6C9D}</fieldId>
                      
                      <!--Club Search Information-->
                      <!--Facilities-->
                      <fieldId>{2496411B-4803-416C-8009-34ECEEBE2D3E}</fieldId>
                      <!--Club Id-->
                      <fieldId>{E108B3B9-444A-487C-A1FF-234D30B82C3F}</fieldId>
                      <!--Lat-->
                      <fieldId>{9CDC2BE6-56D8-4A81-9DCA-918AC431202D}</fieldId>
                      <!--Long-->
                      <fieldId>{A28D71BE-1AE8-476E-B2A9-C02CF11BA63A}</fieldId>
                      <!--Club Image-->
                      <fieldId>{3CBFF83D-346F-4015-82EF-E974047892C6}</fieldId>
                      
                      <!--Page Summary Fields-->
                      <!--Page description-->
                      <fieldId>{1867D97C-9CDC-4497-903E-5DF37652C070}</fieldId>
                      <!--Browser page title-->
                      <fieldId>{1BCEB948-F863-4618-9749-6C89327B10C7}</fieldId>

                      <!--Navigation Controls Fields-->
                      <!--Is heading-->
                      <fieldId>{E8B0A6CF-6CBD-497B-867D-CA8C6EE3202D}</fieldId>
                      <!--Secondary nav icon-->
                      <fieldId>{91D3E7AB-E87D-475A-B1AD-8A4D27AC3EA3}</fieldId>
                      <!--Hide from menu-->
                      <fieldId>{EC352DF8-449C-4084-B330-2ECC4D46B2EE}</fieldId>
                      <!--Flag as new-->
                      <fieldId>{2B397603-4F05-4006-9FB4-DC1F13E7BBD5}</fieldId>
                      <!--Show in Search bar-->
                      <fieldId>{455A3E98-A627-4B40-8035-E683A0331AC7}</fieldId>

                      <!--SEO Fields-->
                      <!--Priority-->
                      <fieldId>{1DAAEC17-2297-4811-BD75-0F5EF7BEFB8B}</fieldId>
                      <!--No index-->
                      <fieldId>{6748119D-8037-4B10-8F62-5D26C5D0EE6F}</fieldId>
                      <!--Hide from sitemap-->
                      <fieldId>{F3BC4B2D-47AA-4A9E-B08F-2924CF1BC291}</fieldId>


                      <!--Facility Landing Fields-->
                      <!--Facility List-->
                      <fieldId>{795FB13E-C298-4205-AE71-C978C8DE99FB}</fieldId>

                      <!--Facility Module Fields-->
                      <!--Summary for club area-->
                      <fieldId>{5E314DAA-414A-4846-A994-B9DAB498C119}</fieldId>
                      <!--Detail content-->
                      <fieldId>{FA1B3823-558A-41D9-9A47-AD1F30EBEA82}</fieldId>
                      <!--Colour me fit cardio-->
                      <fieldId>{CD4D8B5F-4F93-4496-A873-F4E8EDFB5C61}</fieldId>
                      <!--Colour me fit strength-->
                      <fieldId>{9028C04C-9ED3-43CC-89F9-E8DEBDDF8614}</fieldId>
                      <!--Colour me fit mind-->
                      <fieldId>{AA28F3CE-8748-42B3-960A-566688768C0E}</fieldId>

                      <!--Class Module Fields-->
                      <!--Detail content-->
                      <fieldId>{CAABE7BA-376C-498A-A35C-E979A26FD891}</fieldId>
                      <!--Colour me fit cardio-->
                      <fieldId>{F277D317-45FD-4A9D-8472-ADA2F9FC97A0}</fieldId>
                      <!--Colour me fit strength-->
                      <fieldId>{AB888AA5-1EC8-40C6-8B1D-8985BC414B8B}</fieldId>
                      <!--Colour me fit mind-->
                      <fieldId>{624F6320-61E3-45E1-9162-22A423A3A4B0}</fieldId>
                      <!--Title-->
                      <fieldId>{FFC1F837-730C-44F7-A417-97713BAA404F}</fieldId>
                      <!--Summary-->
                      <fieldId>{48189EC0-D1A7-4B6B-A83F-20796BF6B509}</fieldId>
                      <!--Search summary for club area-->

                      <!--System Fields-->
                      <!-- __revision field -->
                      <fieldId>{8CDC337E-A112-42FB-BBB4-4143751E123F}</fieldId>
                      <!-- __context menu field -->
                      <fieldId>{D3AE7222-425D-4B77-95D8-EE33AC2B6730}</fieldId>
                      <!-- __security field -->
                      <fieldId>{DEC8D2D5-E3CF-48B6-A653-8E69E2716641}</fieldId>
                      <!-- __renderings field -->
                      <fieldId>{F1A1FE9E-A60C-4DDB-A3A0-BB5B29FE732E}</fieldId>
                      <!-- __Sortorder -->
                      <fieldId>{BA3F86A2-4A1C-4D78-B63D-91C2779C1B5E}</fieldId>
                      <!-- __Owner -->
                      <fieldId>{52807595-0F8F-4B20-8D2A-CB71D28C6103}</fieldId>
                      <!-- __Created by -->
                      <fieldId>{5DD74568-4D4B-44C1-B513-0AF5F4CDA34F}</fieldId>
                      <!-- __Updated by -->
                      <fieldId>{BADD9CF9-53E0-4D0C-BCC0-2D784C282F6A}</fieldId>
                      <!-- __Lock -->
                      <fieldId>{001DD393-96C5-490B-924A-B0F25CD9EFD8}</fieldId>
                    </include>               

                    <fieldCrawlers hint="raw:AddFieldCrawlers">
                      <fieldCrawler type="Sitecore.SharedSource.Search.FieldCrawlers.LookupFieldCrawler,Sitecore.SharedSource.Search" fieldType="Droplink" />
                      <fieldCrawler type="Sitecore.SharedSource.Search.FieldCrawlers.DateFieldCrawler,Sitecore.SharedSource.Search" fieldType="Datetime" />
                      <fieldCrawler type="Sitecore.SharedSource.Search.FieldCrawlers.DateFieldCrawler,Sitecore.SharedSource.Search" fieldType="Date" />
                      <fieldCrawler type="Sitecore.SharedSource.Search.FieldCrawlers.NumberFieldCrawler,Sitecore.SharedSource.Search" fieldType="Number" />
                    </fieldCrawlers>

                    <dynamicFields hint="raw:AddDynamicFields">
                      <!--New field check-->
                      <dynamicField type="mm.virginactive.common.CustomClasses.IsHiddenFromMenuField,mm.virginactive.common" name="_ishiddenfrommenu" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                      <dynamicField type="mm.virginactive.common.CustomClasses.ShowInSearchBarField,mm.virginactive.common" name="_showinsearchbar" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                      <!--<dynamicField type="mm.virginactive.common.CustomClasses.IsPlaceholderField,mm.virginactive.common" name="_isplaceholder" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />-->
                      
                      <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.LinksField,Sitecore.SharedSource.Search" name="_links" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                      <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.FullPathField,Sitecore.SharedSource.Search" name="_fullcontentpath" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                      <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.IsApprovedField,Sitecore.SharedSource.Search" name="_isapproved" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                      <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.TemplateNameField,Sitecore.SharedSource.Search" name="_templatename" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                      <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.IsLockedField,Sitecore.SharedSource.Search" name="_islocked" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                      <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.LockUserNameField,Sitecore.SharedSource.Search" name="_lockusername" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                      <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.LockDateField,Sitecore.SharedSource.Search" name="_lockdate" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                      <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.HasLayoutField,Sitecore.SharedSource.Search" name="_haslayout" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                      <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.HasExplicitDeniesField,Sitecore.SharedSource.Search" name="_hasdenies" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                      <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.IconField,Sitecore.SharedSource.Search" name="_icon" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                      <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.IsInWorkflowField,Sitecore.SharedSource.Search" name="_isinworkflow" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                      <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.WorkflowField,Sitecore.SharedSource.Search" name="_workflow" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                      <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.WorkflowStateField,Sitecore.SharedSource.Search" name="_workflowstate" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                    </dynamicFields>

                    <!-- If a field type is not defined, defaults of storageType="NO", indexType="UN_TOKENIZED" vectorType="NO" boost="1f" are applied-->
                    <fieldTypes hint="raw:AddFieldTypes">
                      <!-- Text fields need to be tokenized -->
                      <fieldType name="single-line text" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                      <fieldType name="multi-line text" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                      <fieldType name="word document" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                      <fieldType name="html" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                      <fieldType name="rich text" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                      <fieldType name="memo" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                      <fieldType name="text" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                      <!-- Multilist based fields need to be tokenized to support search of multiple values -->
                      <fieldType name="multilist" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                      <fieldType name="treelist" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                      <fieldType name="treelistex" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                      <fieldType name="checklist" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                      <!-- Legacy tree list field from ver. 5.3 -->
                      <fieldType name="tree list" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                    </fieldTypes>
                  </master>
                </locations>
              </index>
            </indexes>
         </configuration>
      </search>
   </sitecore>
</configuration>
