<?xml version="1.0"?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--Mobile Pages-->
      <!--<setting name="Virgin.Mobile.ClubList" value="/sitecore/content/Home/club-finder?action=list"/>-->
      <setting name="Virgin.Mobile.ClubFinder" value="{88EE993E-0BDF-4CAF-9964-FA57EC1D79D8}"/>
      <setting name="Virgin.Mobile.ClubFinderResults" value="{F4DC34B9-5229-43B9-B491-782971D8E4FE}"/>
      <setting name="Virgin.Mobile.ClubEnquiry" value="{DE6DC501-A95A-4E5C-8F37-E3927120ED2A}"/>
      <setting name="Virgin.Mobile.PrivacyPolicy" value="{2F03E232-9AB2-4783-AABC-D4CCEBEF5AD9}"/>
      <setting name="Virgin.Mobile.TermsAndConditions" value="{A3D9F32C-6EA1-460E-ADE6-E53342E5042E}"/>
      <setting name="Virgin.Mobile.CookiePolicy" value="{64BD434E-58E2-4213-8C87-ED2CF7F17ECD}"/>     
    </settings>
   </sitecore>
</configuration>