<?xml version="1.0"?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--Virgin.DeploymentVersionNumber:
            For all forcing cache refresh on css and js files-->
      <setting name="Virgin.DeploymentVersionNumber" value="153"/>      
      <!--Virgin.CookieName:
            For all reading writing to cookie-->
      <setting name="Virgin.CookieName" value="VirginActiveUser"/>
      <!--ASP.OptOutCookie:
            For all reading writing to cookie-->
      <setting name="ASP.OptOutCookie" value="ASP.NET_Session_OptOut"/>
      <!--Device Cookie:
            For all reading writing to cookie-->
      <setting name="Sitecore.Device" value="sc_device"/>
      <!--Device Screen Resolution Width:
            For all reading writing to cookie-->
      <setting name="Wurfl.ScreenResolution" value="sc_device_resolution"/>
      <!--YoutubeLink:
            For referencing in markup and for email links-->
      <setting name="YouTubeLinkUrl" value="http://www.youtube.com/virginactiveuk"/>
      <!--TwitterLinkUrl:
            For referencing in markup and for email links-->
      <setting name="TwitterLinkUrl" value="http://twitter.com/VirginActiveUK"/>
      <!--FacebookLinkUrl:
            For referencing in markup and for email links-->
      <setting name="FacebookLinkUrl" value="http://www.facebook.com/virginactiveuk"/>
      <!--CareersLink:
            For referencing in markup and for email links-->
      <setting name="CareersLink" value="http://www.fitforvirginactive.co.uk/home.aspx"/>
      
      <!--McCormack & Morrison:
            For referencing in markup and for email links-->
      <setting name="McCormackMorrisonUrl" value="http://www.mccormackmorrison.com"/>
      <!--Virgin.MemberLogin:
            For linking through to membership lounge-->
      <setting name="Virgin.MemberLoginUrl" value="http://members.virginactive.co.uk/public/"/>
      <!--Virgin.ExEsportaMemberLogin:
            For linking through to membership lounge-->
      <setting name="Virgin.ExEsportaMemberLoginUrl" value="https://memberportal.esporta.com/"/>
      <!-- Virgin.FacebookAppId: 
            Facebook's Application ID for administration of all virgin facebook activity-->
      <setting name="Virgin.FacebookAppId" value=""/>
      <!--Virgin.FacebookAdministratorID: 
            Comma delimited list of individual administrators (either numerical ID or facebook username) if Application ID not used-->
      <setting name="Virgin.FacebookAdministratorIDs" value=""/>
      <!--Virgin.FacebookScriptURL:
            For referencing in markup-->
      <setting name="Virgin.FacebookScriptURL" value="http://connect.facebook.net/en_US/all.js#xfbml=1"/>
      <!--Virgin.TwitterScriptURL:
            For referencing in markup-->
      <setting name="Virgin.TwitterScriptURL" value="http://platform.twitter.com/widgets.js"/>

      <!-- Max number of li items per column in the Primary navigation facility section (default:16)-->
      <setting name="Virgin.MaxFacilityLinksPerCol" value="11"/>

      <!-- Number of facility colums shown in Mega Drop Down (default:3)-->
      <setting name="Virgin.NoFacilityCols" value="3"/>

      <!-- Facility Column CSS Styles list (default:"level2-col level2-col1;level2-col level2-col2;level2-col level2-col3")-->
      <setting name="Virgin.FacilityColumnStyles" value="level2-col level2-col1;level2-col level2-col2;level2-col level2-col3"/>      

      <!-- Max total search results (default:6)-->
      <setting name="Virgin.MaxTotalSearchResults" value="6"/>

      <!-- Max Number Of Characters In Search Results List-->
      <setting name="Virgin.MaxNumberOfCharactersInSearchResultsList" value="50"/>

      <!-- Max category search results (default:3)-->
      <setting name="Virgin.MaxCategorySearchResults" value="3"/>

      <!-- Default Form to Email Address-->
      <setting name="Virgin.DefaultFormToEmailAddress" value="Helen.Billingham@virginactive.co.uk"/>

      <!-- Website Mail From Address-->
      <setting name="Virgin.WebsiteMailFromText" value="Virgin Active Health Clubs"/>
      <setting name="Virgin.WebsiteMailFromAddress" value="hello@virginactive-mail.co.uk"/>

      <!-- Systems Mail From Address-->
      <setting name="Virgin.SystemsMailFromText" value="Virgin Active Health Clubs"/>
      <setting name="Virgin.SystemsMailFromAddress" value="hello@virginactive-mail.co.uk"/>

			<!--Systems Error Notification From Address -->
			<setting name="Virgin.SystemsErrorFromMailNotification" value="error@virginactive-mail.co.uk"/>
      
      <!--Virgin.MembershipNumberRegularExpression:
            For form validation-->
      <setting name="Virgin.MembershipNumberValidation" value="^(\d|\s){4,20}$"/>

      <!--Virgin.WebLeadsDefaultCampaignID:
            For webservice communication-->
      <setting name="Virgin.WebLeadsDefaultCampaignID" value="Virgin Active UK Website"/>

      <!--Virgin.WebLeadsSourceID:
            For webservice communication-->
      <setting name="Virgin.WebLeadsSourceID" value="Virgin Active UK Website"/>

      <!--Virgin.WebLeadsSource:
            For webservice communication-->
      <setting name="Virgin.CampignWebLeadsSource" value="Other"/>      

      <!--Virgin.MobileWebLeadsSourceID:
            For webservice communication-->
      <setting name="Virgin.MobileWebLeadsSourceID" value="Virgin Active UK Mobile Website"/>      

      <!--Virgin.MobileWebLeadsSource:
            For webservice communication (For the "How did you find out about us?" question)-->
      <setting name="Virgin.MobileWebLeadsSource" value="Other"/>

      <!--Virgin.FeedbackAboutIDs:
            For For webservice communication-->
      <setting name="Virgin.FeedbackAboutIDMyClub" value="1"/>
      <setting name="Virgin.FeedbackAboutIDMyMembership" value="2"/>
      <setting name="Virgin.FeedbackAboutIDGeneral" value="3"/>
      <setting name="Virgin.FeedbackAboutIDWebsite" value="4"/>

      <!--Virgin.FeedbackTypes:
            For For webservice communication-->
      <setting name="Virgin.FeedbackTypeComplaint" value="Complaint"/>
      <setting name="Virgin.FeedbackTypeGeneralComment" value="General comment"/>
      <setting name="Virgin.FeedbackTypeSayWellDone" value="Say well done"/>

      <!--Virgin.FeedbackCampaignEmailToList:
            For For webservice communication-->
      <setting name="Virgin.FeedbackCampaignEmailToList" value="Helen.Billingham@virginactive.co.uk,Alan.Dumbreck@virginactive.co.uk,claire.parker@virginactive.co.uk"/>
      <setting name="Virgin.FeedbackCampaignEmailToListShort" value="Helen.Billingham@virginactive.co.uk"/>      

      <!--Virgin.BccEmailAddress:
            For For webservice communication-->
      <!--<setting name="Virgin.BccEmailAddress" value="Helen.Billingham@virginactive.co.uk"/>-->
      <setting name="Virgin.BccEmailAddress" value="rohit@mccormackmorrison.com"/>
      <!--  EmailValidation
            The regular expression used for e-mail validation
            Default: ^[a-zA-Z0-9_-]+(?:\.[a-zA-Z0-9_-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      -->
      <!--<setting name="Virgin.EmailValidation" value="^[a-zA-Z0-9_-]+(?:\.[a-zA-Z0-9_-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$" />-->
      <!-- New Regex added to valid unusual email address -->
      <setting name="Virgin.EmailValidation" value="^((?:(?:(?:\w[\.\-\+]?)*)\w)+)\@((?:(?:(?:\w[\.\-\+]?){0,62})\w)+)\.(\w{2,6})$" />
            <!-- <setting name="EmailValidation" value="\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" /> 
        PhoneValidation
            The regular expression used for phone number validation
            Default: ^(0(\d|\s){8,12}$)|(\+(\d|\s){8,12}$)
      -->
      <setting name="Virgin.PhoneValidation" value="^(0(\d|\s){8,12}$)|(\+(\d|\s){8,12}$)" />
      <!--  GeneralTextRegularExpression
            The regular expression used for name fields
            Default: [a-zA-Z,.\s\-@']*
      -->
      <setting name="Virgin.GeneralTextRegularExpression" value="[a-zA-Z,.\s\-@']*" />
      <!--  NameValidation
            The regular expression used for name fields
            Default: [a-zA-Z,.\s\-@']*
      -->      
      <setting name="Virgin.NameValidation" value="[a-zA-Z,.\s\-@']*" />
      <!--  DateValidation
            The regular expression used for name fields
            Default: ^[0-9]{2}[/\-]{1}[0-9]{2}[/\-]{1}[0-9]{4}$
      -->
      <setting name="Virgin.DateValidation" value="^[0-9]{2}[/\-]{1}[0-9]{2}[/\-]{1}[0-9]{4}$" />
      <!--  AddressLineValidation
            The regular expression used for name fields
            Default: [a-zA-Z0-9,.\s\-@']*
      -->
      <setting name="Virgin.AddressLineValidation" value="[a-zA-Z0-9,.\s\-@']*" />
      <!--  PostcodeValidation
            The regular expression used for name fields
            Default: [a-zA-Z0-9\s]{5,9}
      -->
      <setting name="Virgin.PostcodeValidation" value="[a-zA-Z0-9\s]{5,9}" />


      <!-- 
        Timetable caching period: default 20 minutes as a double
      -->
      <setting name="Virgin.TimetableCacheMinutes" value="20.0" />
      <!-- 
        Club List caching period: default 180 minutes as a double
      -->
      <setting name="Virgin.ClubListsCacheMinutes" value="180.0" />

      <!-- 
        Indoor Triathlon webservice (supplied by racetimimgsystems.com) -credentials username 
      -->
      <setting name="IndoorTriathlon.ServiceUsername" value="VARegistration" />

      <!-- 
        Indoor Triathlon webservice (supplied by racetimimgsystems.com) -credentials password
      -->
      <setting name="IndoorTriathlon.ServicePassword" value="cr34m t34" />

      <!-- 
        WURFL cloud api key (supplied by Scientia Mobile -account 'virginactiveuk')
      -->
      <setting name="Virgin.WurflDataAPIKey" value="450030:Hqjxg4O6aRsFXv3MnzVP2NZQAYBlyuk1" />

      <!-- 
        Mobile Device Item
      -->
      <setting name="Virgin.MobileDeviceItem" value="{79F3836F-5E2E-4F9E-BD57-9AE81D75461B}" />
      <!-- 
        Mobile Device Item Name
      -->      
      <setting name="Virgin.MobileDevice" value="Mobile" />
      <!-- 
        Default Device Item Name
      -->
      <setting name="Virgin.DefaultDevice" value="Default" />


      <!-- Custom 404 error page-->
      <setting name="ItemNotFoundUrl">
        <x:attribute name="value">/lost-404.aspx</x:attribute>
      </setting>

      <!-- Custom 404 error page for layout not found-->
      <setting name="LayoutNotFoundUrl">
        <x:attribute name="value">/lost-404.aspx</x:attribute>
      </setting>
      

      <!--  ERROR HANDLER
            Url of page handling generic errors
      -->
      <setting name="ErrorPage">
        <x:attribute name="value">/general-error.aspx</x:attribute>
      </setting>

      <!--  Query.MaxItems
            Specifies the max number of items in a query result set.
            If the number is 0, all items are returned. This may affect system performance, if a
            large query result is returned.
            This also controls the number of items in Lookup, Multilist and Valuelookup fields.
            Default value: 100
      -->
      <setting name="Query.MaxItems">
        <x:attribute name="value">150</x:attribute>
      </setting>
      
    </settings>
      
    <!-- Link manager edited for canonicals -->      
    <linkManager defaultProvider="sitecore">
          <providers>
              <x:delete />
          </providers>
        <providers>
            <clear />
            <add name="sitecore" type="Sitecore.Links.LinkProvider, Sitecore.Kernel" addAspxExtension="false" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="asNeeded" languageLocation="filePath" shortenUrls="true" useDisplayName="false" />
        </providers>
     </linkManager>      

    <mediaLibrary>
      <mediaTypes>
        <mediaType name="PDF file" extensions="pdf">         
          <forceDownload>true</forceDownload>
        </mediaType>
      </mediaTypes>
    </mediaLibrary>
    

    <pipelines>
      <httpRequestBegin>
        <processor x:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="mm.virginactive.controls.Pipelines.VirginHttpResolver, mm.virginactive.controls"/>
        <processor x:after="processor[@type='Sitecore.Pipelines.HttpRequest.DynamicLinkResolver, Sitecore.Kernel']" type="mm.virginactive.controls.Pipelines.VirginQueryStringResolver, mm.virginactive.controls"/>
        <processor x:before="processor[@type='Sitecore.Pipelines.HttpRequest.AliasResolver, Sitecore.Kernel']" type="mm.virginactive.controls.Pipelines.VirginAliasResolver, mm.virginactive.controls"/>        
        <processor x:after="processor[@type='mm.virginactive.controls.Pipelines.VirginHttpResolver, mm.virginactive.controls']" type="mm.virginactive.controls.Pipelines.VirginLocationResolver, mm.virginactive.controls"/>
        <processor x:before="processor[@type='Sitecore.Pipelines.HttpRequest.ExecuteRequest, Sitecore.Kernel']" type="mm.virginactive.controls.Pipelines.Virgin404Reolver, mm.virginactive.controls"/>
      </httpRequestBegin>
    </pipelines>
    </sitecore>
</configuration>